<div class="todoList">

  <div class="row">

    <h1 matHeader>Todos</h1>

    <div class="translateBtnContainer">
      <button mat-raised-button color="accent" (click)="openAddTodoDialog()" class="addBtn">
        <mat-icon fontIcon="add"></mat-icon> Add Todo
      </button>

      <mat-form-field appearance="fill">
        <mat-label>Select a language</mat-label>
        <mat-select (selectionChange)="translateTodo($event)">
          <mat-option value="None">None</mat-option>
          <mat-option value="fa">Persian</mat-option>
          <mat-option value="ru">Russian</mat-option>
          <mat-option value="es">Spanish</mat-option>
          <mat-option value="ar">Arabic</mat-option>
          <mat-option value="zh">Chinese</mat-option>
          <mat-option value="hi">Hindi</mat-option>
          <mat-option value="fr">French</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <mat-divider></mat-divider>

  <mat-list #todo>

    <mat-list-item *ngFor="let todo of todos">

      <h3 matListItemTitle>{{todo.title}}</h3>

      <p matListItemLine>{{todo.createdAt}}</p>

      <span matListItemMeta class="action-container">

        <mat-icon class="action-btn" (click)="deleteTodo($event)" [value]="todo.id">delete</mat-icon>

        <div *ngIf="todo.isDone; then done else notDone"></div>
        <ng-template #done>
          <mat-icon class="action-btn" (click)="updateTodo($event)" [value]="todo">done_all</mat-icon>
        </ng-template>
        <ng-template #notDone>
          <mat-icon class="action-btn" (click)="updateTodo($event)" [value]="todo">cached</mat-icon>
        </ng-template>

      </span>

    </mat-list-item>


  </mat-list>

</div>
