.todoList {
    margin-top: 1rem;
    width: 100%;
}

.fab-container {
    display: flex;
    position: static;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    margin-top: 140px;
}

.fab-btn {
    width:70px;
    height:70px;
    position: absolute;
    margin-right: 15px;
}
