<div class="fab-container">

  <button mat-fab color="accent" class="fab-btn" (click)="openAddTodoDialog()">
      <mat-icon>add</mat-icon>
  </button>
  
</div>

<div class="todoList">
    
  <mat-selection-list #todo (selectionChange)="updateTodo($event)">
      <mat-list-option *ngFor="let todo of todos" [selected]="todo.isDone" [value]="todo">
        <h3 matListItemTitle>{{todo.description}}</h3>
        <p matListItemLine>
          <span>{{todo.createdAt}}</span>
        </p>
      </mat-list-option>
  </mat-selection-list>

</div>


