<mat-toolbar color="primary" class="app-header">

  <h1 class="title">DailyDoer</h1>

  <span class="nav-tool-items" *ngIf="!isLogged" class="btn">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>

  <span class="nav-tool-items" *ngIf="isLogged" class="nav-menu">



    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>Users</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

  </span>

</mat-toolbar>

<router-outlet></router-outlet>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
